@import url("../lib/yui/reset-fonts-grids.css");
@import url("../lib/yui/skin.css");

a {
	font-weight : bold;
}

a, a:visited {
	color : #006699;
}

a:hover,#toolbar input.editshelf:hover,input.editshelf:hover,a.editshelf:hover,input.deleteshelf:hover {
	color : #990033;
}

body {
	background-color : white;
	text-align : left;
	padding : 0 0 2.5em 0;
}

.required {
    color : #C00;
}

caption {
	font-size : 140%;
	font-weight : bold;
	line-height : 144%;
	text-align : left;
}

fieldset {
	background-color: #FFF;
	border : 2px solid #EEEEEE;
	margin : 1em 1em 1em 0;
	padding : 1em;
}

fieldset.rows {  
	border-width : 1px;
	border-bottom : 1px solid black;
	float : left;
	font-size : 90%;
	clear : left;
	margin: .9em 0 0 0;  
	padding: 0;
	width: 100%; 
}

fieldset.rows legend {  
	margin-left: 1em;
	font-weight: bold;
	font-size : 110%;
}

fieldset.rows label, fieldset.rows span.label {
	float: left;  
	font-weight : bold;
	width: 9em;  
	margin-right: 1em;  
	text-align: right;
}

fieldset.rows fieldset {
	border-width : 1px;
	margin : 0;
	padding : .3em;
}

fieldset.rows ol {  
	padding: 1em 1em 0 1em;  
	list-style-type: none;
}

fieldset.rows li {  
	float : left;
	clear : left;
	padding-bottom: 1em;
	list-style-type: none;
	width: 100%; 
}

fieldset.rows.left li {
	padding-bottom : .4em;
}

fieldset.rows li.radio {
	padding-left: 9em;
	width : auto;
}

fieldset.rows li.radio label {
	float : none;
	width : auto;
	margin : 0 0 0 1em;
}

fieldset.rows ol.radio label {
	width : auto;
	float : none;
	margin-right : 0;
}

fieldset.rows ol.radio label.radio {
	float : left;
	width : 12em;
	margin-right : 1em;
}

fieldset.rows table {
	clear : both;
	margin-left : 1em;
}

fieldset.rows td label {
	float : none;
	font-weight : normal;
	width : auto;
}

fieldset.holds {
	background-color : #F3F3F3;
	border: 0;
	font-size : 110%;
	padding : 1px;
}

fieldset.holds ol {
	margin : 0;
	padding : 0;
}

fieldset.holds li {
	background-color : #FFF;
	border-bottom : 1px solid #F3F3F3;
	padding : .3em;
}

fieldset.holds label, fieldset.holds span.label {

}

fieldset.action {
	clear : both;
	float : none;
	border : none;
	margin : 0;
	padding : 1em 0 .3em 0;
	width : auto;
}

fieldset.action p {
	margin-bottom : 1em;
}

form {
	display : inline;
	margin : 0;
	padding : 0;
}

h1 {
	font-size : 138.5%;
}

h1#library {
	font-size : 100%;
	font-weight : normal;
	margin : .2em 0 .2em .5em;
} 


h1#libraryname {
	background:transparent url(../../images/koha-logo.gif) no-repeat scroll 0%;
	border: 0;
	float : left !important;
	margin:0;
	padding:0;
	width:120px;
}

h1#libraryname a {
	border:0;
	cursor:pointer;
	display:block;
	height:0px !important;
	margin:0;
	overflow:hidden;
	padding:40px 0 0;
	text-decoration:none;
	width:120px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight : bold;
	margin : .5em 0;
}

h2 {
	font-size : 131%;
}

h5.author {
}

h3 {
	font-size : 123.1%;
}

h4 {
	font-size : 116%;
}

h5 {
	font-size : 108%;
}

h6 {
	font-size : 100%;
}

input[type=submit], input[type=button], input[type=reset] {
	background : #b8d0e6 url(../../images/submit-bg.gif) repeat-x 0 0;
	background-color : #b8d0e6;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color : #333;
	font-size : 93%;
	font-weight : bold;
	padding : 4px;
}

input[type=submit]:active, input[type=button], input[type=reset] {
	border: 1px inset #666666;
}

td.resultscontrol,
.searchresults td.resultscontrol {
	background-color : #EEE;
	border : 1px solid #E8E8E8;
	vertical-align : middle;
	padding : 3px 3px 5px 5px;
}

table {
	background-color: #FFF;
	border-collapse : collapse;
	margin : 1em 0;
	border-right : 1px solid #dddddd;
	border-top : 1px solid #dddddd;
}

td,th {
	background-color: #FFF;
	border-left : 1px solid #dddddd;
	border-bottom : 1px solid #dddddd;
	padding : 3px 5px;
}

td.place_on_type table,
td.place_on_type table td {
	border : 0;
}
td caption {
	font-size : 105%;
}

th {
	background-color:#EEE;
	font-weight : bold;
	padding : 2px 23px;
	text-align : center;
}

th.sum {
	text-align: right;
}

td.sum {
	background-color: #FFC;
	font-weight: bold;
}

th[scope=row] {
	text-align : right;
}

tr.highlight td, tr.highlight th, tr.odd td {
	background-color : #F3F3F3;
   border-top : 1px solid #DDDDDD;
   border-bottom : 1px solid #DDDDDD;
}

tr.even td, tr.even.highlight td {
	background-color: #FFF;
}

tr.grouplabel td {
	background-color : #E8E8E8;
	border : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
	text-align : center;
	font-weight : bold;
    padding: 10px;
}

tr.reserved td {
	background-color : #eeffd4;
}
tr.transfered td {
	background-color : #e8f0f6;
}

#editions table, #editions td {
	border : 0;
}

.header {
	background-image:url("../../images/ascdesc.gif");
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
}
.headerSortUp {
	background-image:url("../../images/asc.gif");
}
.headerSortDown {
	background-image:url("../../images/desc.gif");
}

ul {
	list-style : disc;
	padding-left : 1em;
}

li {
	list-style : disc;
}

p.availability {
	font-size : 87%;
}

.available {
	color : #006600;
}

.waiting,.intransit,.notforloan,.checkedout,.lost,.notonhold {
	display : block;
}
.notforloan {
	color : #900;
}
.lost {
	color : #666;
}
.waiting {
	
}

/* "problem" enhancement */
.problem {
	color : white;
	background-color : red;
}

/* style for search terms in catalogsearch */
.term {
	/* color : blue; */
    color : #990000;
    background-color : #FFFFCC;
}

a .term {
	text-decoration : underline;
}

/* style for shelving location in catalogsearch */
.shelvingloc {
    display : block;
    font-style : italic;
}

.transfered {
	background-color : #F9FF9A;
}

/* action buttons */
#action {
	margin-top : .5em;
	background-color : #F3F3F3;
	border : 1px solid #E8E8E8;
	padding-bottom : 3px;
}

#action li {
	list-style : none;
	margin : .2em;
	padding : .3em 0;
}

#action a {
	background-position : 5px center;
	background-repeat : no-repeat;
	text-decoration : none;
	padding-left : 35px;
}

#action a.print {
	background-image:url(../../images/print.gif);
}

#action a#furthersearches {
	background : transparent url(../../images/menu-arrow.gif) no-repeat right center;
	border : 1px solid #F3F3F3;
	margin-left : 5px;
	padding : 2px 26px 2px 10px;
	text-decoration : none;
}

#action a#furthersearches:hover {
	border-top : 1px solid #FFF;
	border-left : 1px solid #FFF;
	border-right : 1px solid #979797;
	border-bottom : 1px solid #979797;
}

#action a.reserve,
.searchresults a.reserve {
	background-image:url(../../images/placereserve.gif);
}

#action a.addtoshelf, #toolbar a.addtoshelf {
	background-image:url(../../images/addtoshelf.gif);
}

#action a.addtocart, #toolbar a.addtocart {
	background-image:url(../../images/cart2.gif);
}

/* toolbar buttons */

#toolbar {
background-color:#EEEEEE;
border:1px solid #E8E8E8;
margin : .5em 0;
padding:3px 3px 5px 5px;
vertical-align:middle;
}

#toolbar a,
#toolbar input {
	white-space : nowrap;
}

#toolbar ul {
	padding-left : 0;
}

#toolbar ul li {
	display : inline;
	list-style : none;
}

#toolbar ul li a {
	border-left : 1px solid #e8e8e8;
}

#toolbar ul li:first-child a {
	border-left : 0;
}


#toolbar a.print {
	background: transparent url(../../images/print-small.png) 5px 50% no-repeat;
	text-decoration : none;
	padding-left : 23px;
}

#toolbar a.brief {
	background: transparent url(../../images/brief.gif) 5px 50% no-repeat;
	text-decoration : none;
	padding-left : 23px;
}

#toolbar a.detail {
	background: transparent url(../../images/detail.gif) 5px 50% no-repeat;
	text-decoration : none;
	padding-left : 27px;
}

#toolbar a.download {
	background : transparent url("../../images/download.png") 7px 50% no-repeat;
	padding-left : 24px;
	text-decoration : none;
}

#toolbar a.editshelf {
	background : transparent url("../../images/shelf-edit.gif") 12px 50% no-repeat;
	padding-left : 26px;
	text-decoration : none;
}

#toolbar a.empty {
	background: transparent url(../../images/empty-small.png) 5px 50% no-repeat;
	text-decoration : none;
	padding-left : 21px;
}

#toolbar a.hide {
	background: transparent url(../../images/close.gif) 5px 50% no-repeat;
	text-decoration : none;
	padding-left : 26px;
}

#toolbar a.hold {
	background: transparent url(../../images/place-hold-small.png) 5px 50% no-repeat;
	text-decoration : none;
	padding-left : 23px;
}

#toolbar a.newshelf {
	background : transparent url("../../images/shelf-new.gif") 5px 50% no-repeat;
	padding-left : 23px;
	text-decoration : none;
}

#toolbar a.send,
a.send {
	background: transparent url(../../images/send.png) 2px 50% no-repeat;
	text-decoration : none;
	padding-left : 28px;
}

#toolbar a.new {
	background : transparent url("../../images/new.gif") 5px 50% no-repeat;
	padding-left : 23px;
	text-decoration : none;
}

#toolbar input.download {
	background : transparent url("../../images/download.png") 7px 50% no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	padding-left : 24px;
	text-decoration : none;
}

#toolbar input.editshelf,
input.editshelf {
	background : transparent url("../../images/shelf-edit.gif") 10px 50% no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	font-size : 100%;
	padding-left : 29px;
	text-decoration : none;
}

#toolbar input.newshelf {
	background : transparent url("../../images/shelf-new.gif") center left no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	font-size : 100%;
	margin: 0 0.5em;
	padding-left : 15px;
	text-decoration : none;
}

#toolbar input.deleteshelf,
input.deleteshelf {
	background : transparent url("../../images/shelf-delete.gif") 7px 50% no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	font-size : 100%;
	padding-left : 20px;
}

#toolbar input.deleteshelf:hover {
	color: #990033;
}


#toolbar input.editshelf:active,
input.editshelf:active,
#toolbar input.deleteshelf:active,
input.deleteshelf:active {
	border : 0;
}

#tagsel_span input.submit,
#tagsel_tag {
	background-image: url(../../images/tags-small.png);
	background-position : 7px center;
	background-repeat : no-repeat;
	padding-left : 25px;
	text-decoration: none;
}

#tagslist li { display : inline; }

#placehold input.submit:hover,
#tagsel_span input.submit:hover {
	color: #990033;
}

#addto {
	max-width : 10em;
}

.addto a.addtocart {
	background-image:url(../../images/cart2.gif);
	background-position : 9px -3px;
	background-repeat : no-repeat;
	text-decoration : none;
	padding-left : 33px;
}

#placehold input.submit {
	background-image:url(../../images/placereserve.gif);
	background-position : 9px center;
	background-repeat : no-repeat;
	text-decoration : none;
	padding-left : 23px;
}

#placehold input.submit,
#tagsel_span input.submit {
	border : 0;
	background-color: transparent;
	font-size : 100%;
	font-weight : bold;
	padding-left : 31px;
	color : #336699;
	cursor : pointer;
}
.searchresults a.highlight_toggle {
	background : transparent url(../../images/highlight.gif) -4px center no-repeat;
	display: none;
	font-weight: normal;
	padding : 0 10px 0 21px;
}

/* the itemtype list in advanced search */
#advsearch-itemtype table {
	border-collapse : separate;
	border-spacing : 3px;
	border : 0px;
	margin : 0px;
	background-color : white;
	border : 0px solid #D8DEB8;
}

#advsearch-itemtype table tr td {
	background-color : #F8F8EB;
	border : 0px;
	margin : 0px;
	width : 700px;
}

#advsearch-itemtype td {
	font-size : 0.8em;
	background-color : #F8F8EB;
}

body#advsearch #breadcrumbs {
	line-height : 1px;
	height : 1px;
	padding : 0;	
}

body#advsearch #cartmenulink,
body#advsearch #listsmenulink {
	float : right;
}

#advsearch #branchloop,
#advsearch #sort_by {
	width : 23em;
}

#auth {
	float : left;
}

#facets {
	
}

/* the footer */
#footer {
	margin-top : 30px;
	margin-left : 30%;
	margin-right : 20%;
	border-top : 1px solid #384b73;
	color : #384b73;
	font-size : 1em;
	text-align : center;
}

/* facets bloc */
/* the USER information block */
#librarian_information {
	float : right;
	font-size : 10pt;
}

#header-wrapper {
	background-color: #FFF;
}

#holds,#opac-auth {
	min-width : 750px;
	width : 57.69em;
	margin : auto;
}

#members {
	background-color: #fff;
	font-size : 85%;
	margin-left : -10px;
	margin-right : -10px;
	padding : 4px 0 4px 0;
	color : #000066;
}

#members a {
	text-decoration : none;
}

#members a.logout {
	color : #cc3333;
	font-weight : bold;
	padding : 0 .3em 0 .3em;
	text-decoration : none;
}

#members li:last-child {
	border-right : 0;
}

#members li {
	border-right : 1px solid black;
	display : inline;
	list-style : none;
	margin : 0;
	padding : 0 .5em;
}

#members ul {
	margin : 0;
	padding : 0;
	text-align : right;
}

#opac-main-search {
	background-image : url( ../../images/menu-background.gif);
	background-repeat : repeat-x;
	background-color : #739ACF;
	background-position : -10px top;
	border-top : 1px solid #335599;
	border-bottom : 1px solid #335599;
	margin-left : -10px;
	margin-right : -10px;
	padding : .7em 0 .4em .5em;
	font-size : 108%;
	line-height : 116%;
}

#opac-main-search form {
	display : inline;
	padding-right : 1em;
}

#opac-main-search label {
	color : #FFFFCC;
	font-weight : bold;
	margin : .2em .3em 0 0;
}


#search-facets ul {
	margin : 0;
	padding : .3em;
}

#search-facets {
	border : 1px solid #e8e8e8;
}

#search-facets h4 {
	background-color : #EEE;
	border-bottom : 1px solid #e8e8e8;
	font-size : 90%;
	margin : 0;
	padding : .7em .2em;
	text-align : center;
}

#search-facets ul li {
	font-weight : bold;
	list-style-type : none;
}

#search-facets li li {
	font-weight : normal;
	font-size : 85%;
	margin-bottom : 2px;
	padding : .1em .2em;
}

#search-facets li li a {
	font-weight : normal;
}

#search-facets li.showmore a {
	font-weight : bold;
	text-indent : 1em;
}

.suggestion {
	background-color : #EEEEEB;
	border : 1px solid #DDDED3;
	margin : 10px auto;
	padding : 4px;
	width : 35%;
}

#facets ul {
	margin : 0;
	padding : 0;
}

#facets ul li {
	font-weight : bold;
	text-align : left;
	list-style : none;
}

#facets ul ul li {
	border : 0;
	font-size : 85%;
	font-weight : normal;
	padding : 2px;
	text-align : left;
}

#facets ul ul li a {
	font-weight : normal;
	text-decoration : underline;
}

#facets h4 {
	font-size : 93%;
	padding:3px;
	text-align:center;
	background-color:#E7E7CA;
	line-height:1.8em;
	margin-left:-1px;
	margin-right:-1px;
	margin-top:-1px;
}

#breadcrumbs {
	padding : .7em;
}

p {
	margin: .7em 0;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}


table#marc,
table#marc td,
table#marc th {
	background-color : transparent;
	border : 0;
}

table#marc p span.label {
	font-weight : bold;
}

table#marc p,
table#marc ul {
	padding-bottom: .6em;
}

table#items,
table#items td
table#items th {
	border-width : 1px solid #EEE;
	font-size : 90%;
}


table#marc div.results_summary {
	clear :  left;
}
table#marc div.results_summary ul {
	display : inline;
	float :  none;
	clear :  none;
	margin: 0;
	padding: 0;
	list-style : none;
}

table#marc div.results_summary ul li {
	display : inline;
}

#basketcount {
	display : inline;
}

#bookcover {
	float : left;
	margin : 0;
	padding : 0;
}

#bookcover img {
	margin : 0 1em 1em 0;	
}

fieldset.brief {
	border : 1px solid #E8E8E8;
}

fieldset.brief legend {
	font-weight : bold;
	font-size : 100%;
}

fieldset.brief label {
	display : block;
	padding : .3em 0;
}

fieldset.brief input+input {
	margin-top : 3px;
}

fieldset.brief input, fieldset.brief textarea, fieldset.brief select {	
	background-color: #F3F3F3;
	border-top : 1px solid #979797;
	border-left : 1px solid #979797;
	border-right : 1px solid #DDDDDD;
	border-bottom : 1px solid #DDDDDD;
	font-size : 140%;
	padding : .2em;
	font-weight: normal;
}

fieldset.brief textarea {
	font-size: 105%;
}

fieldset.brief input:focus {
	background-color: #FFFFCC;
}

fieldset.brief ol, fieldset.brief li {
	list-style-type : none;
}

fieldset.brief div.hint, fieldset.rows div.hint {
	color : #666666;
	font-size : 100%;
	margin : .4em;
}

h2 span.hint {
	font-size: 76%;
	font-weight : normal;
}
.thumbnail {
	border : 0;
	float : left;
	margin : 0pt 5px 5px 0pt;
}
a.cancel {
	padding-left : 1em;
}

.resultscontrol, .resultscontrol select {
	font-size: 90%;
}

.cartlist {
	margin-top : 5px;
}

.cartlist input.submit, #tagsel_button {
	background-color : #d8deb8;
	background-image : none;
	border-color : #bebf84;
	color : #333;
	font-size : 87%;
	padding : 2px 0;
	margin : 0 0 0 0;
}

#CheckAll, #CheckNone {
	font-weight : normal;
	margin : 0 .5em;
}

.resultscontrol label {
	font-weight : bold;
	margin-left : .5em;
}

.resort {
	float : right;
	margin-top : 5px;
}

.searchresults p.details {
	color : #979797;
}

.searchresults p {
	margin: 0;
	padding: 0 0 .6em 0;
}

td.resultscontrol img {
	vertical-align: middle;
}

.searchresults table td {
}

.searchresults table {
	margin : 0;
}

.searchresults td, .searchresults th, .searchresults table {
	border: 0;
}
.searchresults td {
	vertical-align: top;
}

.searchresults tr {
	border-bottom : 1px solid #f3f3f3;
}

.searchresults tr:first-child {
	border : 0;
}

.searchresults table {
	border-top : 0px solid #CCCCCC;
	width : 100%;
}

.searchresults a.reserve, .searchresults a.reserve:visited {
	background-position:left top;
	background-repeat:no-repeat;
	float:right;
	padding:2px 3px 2px 26px;
}

.searchresults a.reserve {
	background-color:transparent;
	color:#006699;
}

.unavailable, .tagerror, .tagerror:visited {
	color: #990033;
}

#libraryname {
	float : left;
	line-height : 2em;
}

#corner {
	float : right;
	line-height : 2em;
}

.pages {
	line-height : 1.8em;
	text-align: center;
}

.current,
.currentPage {
	background-color: #FFFFFF;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:link.nav,
div.pages a:link {
	background-color: #EEE;
	border: 1px solid #CCCC99;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:visited.nav,
div.pages a:visited {
	background-color: #EEE;
	border: 1px solid #CCCC99;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:hover.nav,
div.pages a:hover {
	background-color: #FFFFCC;
	border: 1px solid #CCCC99;
	color: #CC3333;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:active.nav,
div.pages a:active {
	background-color: #FFFFCC;
	border: 1px solid #CCCC99;
	color: #D25500;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

/* Tabs */
ul.link-tabs {
	list-style-type: none;
	margin: 9px 0 -2px 5px;
	padding: 0;
}

ul.link-tabs li {
	display: inline;
	padding: 0px;
}

ul.link-tabs li a {
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	border-top: 1px solid #DDDDDD;
	border-left : 1px solid #DDDDDD;
	border-right : 1px solid #666666;
}

ul.link-tabs li#power_formButton a, ul.link-tabs li#proximity_formButton a {
	padding: 2px 4px 3px 4px;
}

ul.link-tabs li.off a {
	background-color: #EEEEEB;
	border-bottom: 1px solid #DDDDDD;
}

ul.link-tabs li.off a:hover {
	padding: 2px 3px 2px 4px;
	background-color: #FFFFEC;
	border-top: 1px solid #BEBF84;
	border-left : 1px solid #BEBF84;
	border-right : 2px solid #333333;
}

ul.link-tabs li.on a {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

ul.link-tabs li a.debit {
	background-color : #FFFF99;
	color : #990033;
}

div.tab-container {
	border : 1px solid #DDDDDD;	
	margin-top : 4px;
	padding : .7em;
	width : 90%;
}

tr.overdue td {
	background-color : #ffcccc;
	border-bottom : 1px solid #ffaeae;
	border-right : 1px solid #ffaeae;
	font-weight : bold;
}

td.overdue {
	color : #cc3333;
}

.renewals {
	display:block;
	font-size:0.8em;
	padding:0.5em;
}

table#marc, table#marc td, table#marc th {
	border : 0;
}

table#marc th {
	background-color : transparent;
	text-align : left;
}

table#marc td:first-child {
	text-indent : 2em;
}
#masthead {
float: left;
width: 120px;
}

#fluid {
margin-left: 124px;
margin-top : .4em;
padding-left : 1em;
}

#fluid-offset {
float : right;
width: 100%;
}

#translControl{
float : left;
padding-left : .4em;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.results_summary {
	display: block;
	font-size : 85%;
	color: #707070;
	padding : 0 0 .5em 0;
}

.m880 {
    display:block; 
    text-align:right; 
    float:right; 
    width:50%; 
    padding-left:20px
}

.searchresults .tagstatus {
	display: block;
	color: #707070;
}

#login4tags {
	margin-top : .3em;
}

.results_summary .label {
	color: #202020;
}

.results_summary a {
	font-weight: normal;
}

.actions a {
	margin-left : 1em;
	text-decoration : none;
}

.actions a.hold {
	background : url("../../images/placehold-small.gif") center left no-repeat;
	padding-left : 16px;
}

.actions a.addtocart {
	background : url("../../images/cart-small.gif") center left no-repeat;
	padding-left : 13px;
	display : none;
}

.actions a.addtoshelf {
	background : url("../../images/addtolist-small.gif") center left no-repeat;
	padding-left : 13px;
}

.dialog {
  border: 1px solid #bcbcbc;
	padding : .5em;
	margin : 1em auto;
  width: 65%;
  }
  
.dialog  h2, .dialog h3, .dialog h4 {
  	margin : auto;
	text-align : center;
  }
 
div.alert {
  background : #FFC url(../../images/alert-bg.gif) repeat-x left 0;
  text-align : center;
}

div.alert strong {
	color : #900;
}

div.message {
	background : white url("../../images/message-bg.gif") repeat-x left 0;
   border : 1px solid #bcbcbc;
	width : 55%;
}

#moresearches {
	clear : left;
	color : #000099;
	font-size : 90%;
	line-height : 110%;
	margin : .6em 0 .3em 0;
}

#moresearches a:link, #moresearches a:visited {
	color : #e5ebff;
	font-weight : normal;
	text-decoration : none;
}

#news th {
	text-align : left;
	padding : 3px 5px;
}

#opac-main-search #listsmenu a, #opac-main-search #listsmenu h4 {
	color : #000;
	font-weight : normal;
}
 #opac-main-search #listsmenu h4 {
 	font-size : 90%;
	font-weight : bold;
	margin : 0 .2em; 
 }
 
#opac-main-search #listsmenu .yuimenuitemlabel {
	cursor : pointer;
}

#opac-main-search #listsmenu .bd {
	background-color : #f3f3f3;
	border : 1px solid #739acf;
	background-image : url("../../images/listmenu-container-bg.gif");
	background-position : top right;
	background-repeat : repeat-y;
	padding : .3em 1em 0 0;
}

#opac-main-search #listsmenu .yuimenuitemlabel.selected {
	background-color : #fff;
}

#opac-main-search #listsmenu ul {
	border-color : #b8d0e6;
}

.selectcol {
	vertical-align: top;
	width: 10px;
}
.itypecol {
	vertical-align: top;
	width: 10px;
}
#container {
	color : #000;
}

div#changelanguage{
	background-color: #fff;
	border-top: 1px solid #CCC;
	color : #666;
	font-size : 85%;
	padding : 1em;
	margin-top : 2em;
 }
 
div#changelanguage a {
	font-weight : normal;
	padding : .5em;
} 
 		
div#changelanguage a.more {
	background-image:url(../../images/more-up-arrow.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:13px;
}
 
div#changelanguage li.yuimenuitem {
	font-size : 120%;
	font-weight : normal;
	margin : 0;
	padding : 0 1em;
}

div#changelanguage li.yuimenuitem a.yuimenuitemlabel {
	padding : 0;
}

#cartDetails,#cartUpdate,#holdDetails,#listsDetails {
	background-color : #FFF;
	border: 1px solid #739acf;
	color : black;
	display : none;
	margin : 0;
	padding : 10px;
	text-align : center;
	width : 180px;
	box-shadow: 1px 1px 3px #666;
	-moz-box-shadow: 1px 1px 3px #666;
	-webkit-box-shadow: 1px 1px 3px #666;

}

.yui-panel .hd, .yui-panel .bd, .yui-panel .ft {
	background-color : transparent;
	border : 0;
	padding : inherit;
}

#login #userid, #login #password {
	width : 98%;	
}

#opac-main-search input.submit {
	background : #b8d0e6 url(../../images/submit-bg.gif) repeat-x 0 0;
	background-color : #b8d0e6;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color : #333;
	font-weight : normal;
	font-size : 80%;
	padding : 2px;
}

div#menu {
	border-right : 1px solid #979797;
	font-size : 94%;
	margin-right : .5em;
	padding-top : 1em;
	padding-bottom : 2em;
}

div#menu li a {
	text-decoration : none;
	display : block;
	background : #EEE url(../../images/side-tab-gradient.gif) repeat-y top right;
	border : 1px solid #979797;
	font-size : 111%;
	margin : .5em 0;
	padding : .4em .3em;
	margin-right : -1px;
}

div#menu li a:hover {
	background : #E8F0F6 url(../../images/side-tab-gradient-hover.gif) repeat-y top right;
}

div#menu li.active a:hover {
	background-color : #fff;
	color : #0000CC;
}

#menu ul li {
	list-style-type : none;
}

#menu ul li.active a {
	background-color : #FFF;
	background-image : none;
	border-right : 0;
	font-weight : bold;
}

.left {
	float : left;
}

.right {
	float : right;
}

#searchsubmit {
	cursor : default;
	font-size : 87%;
	font-weight :  normal;
	margin-top : 0;
	margin-left :  .2em;
	padding: 2px 2px 1px 2px;
}

#export,#further,.detailtagcell {
	margin-top : .5em;
	background-color : #F3F3F3;
	border : 1px solid #E8E8E8;
	font-size : 76%;
	padding : 3px;
	text-align : center;
}
#furtherm { margin-top : .5em; }

#export label, .detailtagcell label {
	display : block;
	font-weight : bold;
	font-size : 110%;
	margin-bottom : 2px;
}

#export input, .detailtagcell input {
	padding : 2px;
}

#further {
	text-align : left;
	font-size : 95%;
	padding : 3px 3px .5em 1em;
}

#further ul li {
	list-style-image : url("../../images/further-bullet.gif");
}

#amazonreviews h4 {
	font-size : 90%;
	margin : 0;
	padding : 0;
}
#amazonreviews h3 {
	font-size : 100%;
	margin : 0;
	padding : 0;
}
span.starFull {
	background: url(../../images/star-ratings.gif) top left no-repeat;
	display : block;
	height: 10px;
	margin: 0;
	padding: 0;
}

span.starMT {
	background: url(../../images/star-ratings-empty.gif) top left no-repeat;
	display : block;
	height: 10px;
	margin: 0 10px 0 10px;
	padding: 0;
	position: relative;
	width: 50px;
}

#cartmenulink, #listsmenulink {
	display : block;
	position : relative;
	background : #aaa;
	padding : 5px;
	float : left;
	color : #333;
	text-decoration : none;
	cursor : pointer;
}

 #cartmenulink *, #listsmenulink * {
	font-style : normal;
	background-image : url(../../images/button-background.png);
	background-repeat : no-repeat;
	display : block;
	position : relative;
}

 #cartmenulink i, #listsmenulink i {
	background-position : top left;
	position : absolute;
	margin-bottom : -5px;
	top : 0;
	left : 0;
	width : 5px;
	height : 5px;
}

 #cartmenulink span, #listsmenulink span {
	background-position : bottom left;
	left : -5px;
	padding : 0 0 5px 10px;
	margin-bottom : -5px;
}
/* For IE7 */
 *:first-child+html #cartmenulink span { padding-top : 3px; padding-bottom : 7px; }
 *:first-child+html #listsmenulink span { padding-top : 5px; }

 #cartmenulink span i, #listsmenulink span i {
	background-position : bottom right;
	margin-bottom : 0;
	position : absolute;
	left : 100%;
	width : 10px;
	height : 100%;
	top : 0;
}

 #cartmenulink span span, #listsmenulink span span {
	background-position : top right;
	position : absolute;
	right : -10px;
	margin-left : 10px;
	top : -5px;
	height : 0;
}

* html #cartmenulink span, * html #cartmenulink i, * html #listsmenulink span, * html #listsmenulink i {
	float : left;
	width : auto;
	background-image : none;
	cursor : pointer;
}
* html #cartmenulink span, * html #listsmenulink span {
	padding-top : 5px;
}

#cartmenulink span#carticon {
	background: transparent url("../../images/cart.gif") top left no-repeat;
	position: static;
	width : 14px;
	height:14px;
	margin: 0.35em 0.45em 0 0.2em;
	padding:0;
	float: left;
}

#listsmenulink {
	background : #9FBFFF;
}

#cartmenulink {
	background : #98CB58;
	color : #336600;
	font-size : 105%;
}

#cartmenulink[class], #listsmenulink[class] {
	background-image : url(../../images/button-background-gradient.png);
	background-position : left top;
}

#listsmenulink:hover {
	background-color : #b8d0e6;
}

#cartmenulink:hover {
	background-color : #BFDE96;
}

#cartmenulink img {
	background-image : none;
	display : inline;
	padding : 3px 3px 0 3px;
}

#cartmenulink span#basketcount {
	background-image : none;
	float : none;
	display : inline;
	height : auto;
	position : relative;
	margin : 0;
	padding : 0;
	left : auto;
	right : auto;
	top : auto;
}

#cartmenulink span#basketcount span {
	background-image : none;
	background-color : #E6FCB7;
	color : #000;
	display : inline;
	float : none;
	font-size : 80%;
	font-weight : normal;
	margin : 0 0 0 .9em;
	padding : 0 .3em 0 .3em;
	position : relative;
	left : auto;
	right : auto;
	top : auto;
}

a#listsmenulink, a#listsmenulink:hover {
	color : #006699;
	font-size : 105%;
	font-weight : bold;
	line-height : 185%;
	margin-left : 1.5em;
}

a#cartmenulink, a#cartmenulink:hover {
	color : #336600;
	font-size : 105%;
	font-weight : bold;
	line-height : 185%;
	margin-left : 1.5em;
}
* html a#cartmenulink {
	padding-top: 0;
}
 * html a#cartmenulink:hover {
	padding-top : 0;
}
/* For IE7 */
*:first-child+html a#listsmenulink { padding-top : 0; }
*:first-child+html a#listsmenulink:hover { padding-top : 0; }
*:first-child+html a#cartmenulink { padding-top : 0; }
*:first-child+html a#cartmenulink:hover { padding-top : 0; }
*:first-child+html #cartmenulink span i{ top : -4px; }
*:first-child+html #listsmenulink span i { top : -5px; }

#listsmenulink img {
	background-image : none;
	display : inline;
	padding : 0 0 2px 0;
}

* html #cartmenulink {
	border : 1px solid #336600;
}

* html #listsmenulink {
	border : 1px solid #006699;
}

ul.ui-tabs-nav li {
	margin-right : .5em;
}

ul.ui-tabs-nav li a, ul.ui-tabs-nav li span.a {
	background-color : #F3F3F3;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 0;
	padding : .2em 1em;
	text-align : center;
	text-decoration : none;
}

ul.ui-tabs-nav li.ui-tabs-selected a, ul.ui-tabs-nav li.ui-tabs-selected span.a {
	background-color : #FFF;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 1px solid #FFF;
	margin-bottom : -5px;
	text-align : center;
}

#views {
	border-bottom : 1px solid #E8E8E8;
	margin-bottom : .5em;
	padding : 0 2em 2px 0.2em;
	white-space : nowrap;
}

span.view {
	padding : 0.2em .2em 2px .2em;
}

#bibliodescriptions,
#isbdcontents {
	clear : left;
	margin-top : .5em;
}

a#MARCview, span#MARCview, a#MARCviewPop, a#ISBDview, span#ISBDview, a#Normalview, a#Briefhistory, span#Normalview, a#Fullhistory, span#Fullhistory, span#Briefhistory {
	background-position : 5px 3px;
	background-repeat : no-repeat;
	font-size : 87%;
	font-weight : normal;
	padding : .2em .5em;
	text-decoration: none;
}

a#MARCview, span#MARCview {
	background-image : url(../../images/marc.gif);
	padding-left : 17px;
}
a#MARCviewPop, span#MARCviewPop {
    background-image : url(../../images/marc.gif);
    padding-left : 17px;
}
a#ISBDview, span#ISBDview {
	background-image : url(../../images/isbd.gif);
	padding-left : 20px;
}
a#Normalview, span#Normalview {
	background-image : url(../../images/normal.gif);
	padding-left : 15px;
}

a#MARCview, a#MARCviewPop, a#ISBDview, a#Normalview, a#Fullhistory, a#Briefhistory {
	background-color : #F3F3F3;
	border-left : 1px solid #E8E8E8;
}

#shelfbrowser table {
	margin : 0 20px;
}
#shelfbrowser table, #shelfbrowser td, #shelfbrowser th {
	border : 0;
	font-size : 90%;
	text-align : center;
}
#shelfbrowser a {
	font-size : 110%;
	text-decoration : none;
}
#shelfbrowser td, #shelfbrowser th {
	vertical-align : bottom;
	width : 20%;
}
#shelfbrowser td.top {
	vertical-align : top;
}
#shelfbrowser td.top a {
	text-decoration : underline;
}
#shelfbrowser a {
	display : block;
}

#comments .commentline {
	border-bottom : 2px solid #eeeeeb;
	margin : 0 -.5em 0 -.5em;
	padding : 0 .5em .5em .5em;
}
#comments .yours {
	background-color : #effed5;
}
.commentline .avatar {
	float : right;
	padding-left : .5em;
}
#comments #addcomment {
	margin : 0 -1em -1em -1em;
	padding : .3em 1em;
}
input.tagbutton {
	padding : 1px !important;
}
table#items th {
	padding : 2px;
}
#action {
	margin-top: 0;
}
#similars h4 {
	text-align : left;
}
#similars table,
#similars td {
	border : 0;
	margin : 0;
}
#similars td {
	width : 13em;
}
#similars a {
	display : block;
	font-weight : normal;
}
#furtherm a,
#furtherm a:link,
#furtherm a:visited {
	color : #006699;
}
#furtherm h4 {
	font-size : 106%;
	margin : .1em .5em;
}
#furtherm .bd {
	background-color : #F3F3F3;
	border:1px solid #DDD;
}
.results_summary img {
	margin : 0 5px;
 }
span.no-image {
	background-color : #FFF;
	border: 1px solid #979797;
	color : #AAA;
	display:block;
	font-size : 86%;
	font-weight : bold;
	text-align : center;
	width : 75px;
}
#bookcover span.no-image {
	margin-right : 10px;
	margin-bottom : 10px;
}
#shelfbrowser a:link span.no-image,
#shelfbrowser a:visited span.no-image,
#shelfbrowser a:hover span.no-image,
#shelfbrowser a:active span.no-image {
	font-size : 95%;
}
#shelfbrowser a:link span.no-image,
#shelfbrowser a:visited span.no-image,
#shelfbrowser a:hover span.no-image,
#shelfbrowser a:active span.no-image,
td.jacketcell a:link,
td.jacketcell a:visited,
td.jacketcell a:hover,
td.jacketcell a:active,
a.p1:link,
a.p1:visited,
a.p1:hover,
a.p1:active {
	color : #AAA;
	text-decoration : none;
	font-weight : bold;
}

.copies_row > td:first-child {
    border-left-style : none;
}

.rtl {
  unicode-bidi: embed;
  direction: rtl;
  text-align: right;
}

div.ft {
	clear : both;
}
#basket td ul li {
	font-size:90%;
	list-style:disc outside url("../../images/item-bullet.gif");
	padding:0.2em 0;
}

#recentcomments {
	margin:auto;
	max-width:750px;
}

.searchresults .commentline {
	background-color : rgb(255, 255, 204);
	background-color : rgba(255, 255, 204, 0.4);
	border : 1px solid #CCC;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin : .3em;
	padding : .4em;
}

.searchresults .commentline.yours {
	background-color : rgb(239, 254, 213);
	background-color : rgba(239, 254, 213, 0.4);
}

#plainmarc table { border: 0; margin: .7em 0 0 0; font-family: monospace; font-size: 95%; }
#plainmarc th { background-color : #FFF; border: 0; white-space: nowrap; text-align:left; vertical-align: top; padding: 2px; }
#plainmarc td { border: 0; padding : 2px; vertical-align: top; }

#catalogue_detail_biblio h1 { float:left; margin:0 1em 1em 0; }
#catalogue_detail_biblio h1.title { float:none; margin-top:1em; }
#catalogue_detail_biblio h3 {clear:both; }

#opac-detail #Normalview { font-weight:bold; }
#opac-marcdetail #Normalview { font-weight:normal; }
#opac-marcdetail #MARCview { font-weight:bold; }
#opac-isbddetail #Normalview { font-weight:normal; }
#opac-isbddetail #ISBDview { font-weight:bold; }
#opac-isbddetail #isbdcontents { margin-top: 2em; }

div.bibmessage { background-color : #ffffb0; border-radius : 5px; padding : 3px; margin : 2px; }

#renewcontrols {
	 float: right;
	 font-size: 66%;
}

#renewcontrols a {
	background-position : 3px center;
	background-repeat : no-repeat;
	text-decoration:none;
	padding : .1em .4em;
	padding-left : 18px;
}

#renewselected_link {
	background-image : url(../../images/check.png);
}

#renewall_link {
	background-image : url(../../images/checks.png);
}
