[% INCLUDE 'help-top.inc' %]

<h1>Searching</h1>

<p>To see more search options click [More Options] at the bottom of the page. This will allow for more advanced boolean searching.</p>

<h2>Searching Subtypes on the Staff Client</h2>

<p>Below is a summary of  the various pieces of the advanced search limit: </p>

<h3>Audience</h3>

<p>The index name is 'aud' and it's derived from 008/22</p>

<ul><li>aud:a Easy</li>
<li>aud:c Juvenile</li>
<li>aud:d Young adult</li>
<li>aud:e Adult</li></ul>

<h3>Content</h3>

<p>There are three indexes that comprise Content: 'fic' is derived from 003/33; 'bio' is derived from the 008/34 and 'mus' is derived from LEADER/06. Common values for each of these are:</p>

<ul><li>fic:1 Fiction</li>
<li>fic:0 Non fiction</li>
<li>bio:b Biography</li>
<li>mus:j Musical recording</li>
<li>mus:i Non-musical recording</li></ul>

<h3>Format</h3>

<p>The index name is 'l-format' and it's an index of positions 007/01 and 007/02. Common values are:</p>

<ul><li>l-format:ta Regular print</li>
<li>l-format:tb Large print</li>
<li>l-format:fk Braille</li>
<li>l-format:sd CD audio</li>
<li>l-format:ss Cassette recording</li>
<li>l-format:vf VHS tape / Videocassette</li>
<li>l-format:vd DVD video / Videodisc</li>
<li>l-format:co CD Software</li>
<li>l-format:cr Website</li></ul>

<h3>Additional Content Types</h3>

<p>The index name is 'ctype' is taken from the 008 and it's where we get the 'additional content types'. It's position 008/24-28 field. Common values are: </p>

<ul><li>ctype:a Abstracts/summaries</li>
<li>ctype:b Bibliographies
<li>ctype:c Catalogs</li>
<li>ctype:d Dictionaries</li>
<li>ctype:e Encyclopedias</li>
<li>ctype:f Handbooks</li>
<li>ctype:g Legal articles</li>
<li>ctype:i Indexes
<li>ctype:j Patent document</li>
<li>ctype:k Discographies</li>
<li>ctype:l Legislation</li>
<li>ctype:m Theses</li>
<li>ctype:n Surveys</li>
<li>ctype:o Reviews
<li>ctype:p Programmed texts</li>
<li>ctype:q Filmographies</li>
<li>ctype:r Directories</li>
<li>ctype:s Statistics</li>
<li>ctype:t Technical reports</li>
<li>ctype:v Legal cases and case notes
<li>ctype:w Law reports and digests</li>
<li>ctype:z Treaties</li></ul>

[% INCLUDE 'help-bottom.inc' %]