[% INCLUDE 'help-top.inc' %]

<h1>Patron Fines</h1>

<p>The patron's complete accounting history will appear on the Fines tab. Contrary to its name, the Fines tab does not just show fine data, it also shows membership fees, rental fees, reserve fees and any other charge you may have for patrons.</p>

<h2>Charging Fines/Fees</h2>

<p>Most fees and fines will be charged automatically if the fines cron job is running:</p>

<ul>
	<li>Fines will be charged based on your Circulation &amp; Fines Rules</li>
	<li>Hold fees will be charged based on the rules you set in the Patron Types &amp; Categories administration area</li>
	<li>Rental fees will be charged based on the settings in your Item Types administration area</li>
	<li>Marking an item 'Lost' via the cataloging module will automatically charge the patron the replacement cost for that item</li>
</ul>

<h2>Printing Invoices</h2>

<p>To the right of each account line there is a print link. Clicking that link will print an invoice for the line item that includes the date and description of the line item along with the total outstanding on the account.</p>

[% INCLUDE 'help-bottom.inc' %]