[% INCLUDE 'help-top.inc' %]   

<h1>Setting Patron Permissions</h1>

<p>Patron permissions are used to define the rights of staff members when in the intranet/staff client.</p>
	<ul>
		<li>To alter patron permissions, click on Patrons on the main menu at the top of the screen.</li>
		<li>Search or browse for the patron you'd like to edit</li>
		<li>Click on the patron's name from the results</li>
		<li>Click the 'More' button on the top right of the patron profile and choose 'Set Permissions'</li>
		<li>Choose the permissions you'd like this patron to have</li>
		<li>You can pick as many permissions as you'd like for each staff member
		<ul>
			<li><span style="background-color: #ffe599">TIP: If a staff member is set to 'superlibrarian' they have access to all functions and do not need any other permissions checked</span></li>
		</ul></li>
	</ul>

<h3>Patron Permissions Defined</h3>

<p>Depending on the permission certain menu items will be removed from the menus in Koha, preventing users from accessing them.</p>
<ul>
	<li>superlibrarian
<ul>
	<li>Access to all functions within the staff client</li>
</ul>
</li>
	<li>circulate
<ul>
	<li>Ability to check (issue) books out and in and access the 'Circulation' page in the staff client</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>catalogue
<ul>
	<li>Allows staff members to search the catalog via the staff client</li>
	<li>Must be given to all staff members to allow them to login to the staff client</li>
</ul>
</li>
	<li>parameters
<ul>
	<li>Provides access to all areas of the Administration menu</li>
</ul>
</li>
	<li>borrowers
<ul>
	<li>Allows staff members to add or modify patrons (with the exception of setting permissions)</li>
</ul>
</li>
	<li>permissions
<ul>
	<li>Ability to set patron permissions</li>
</ul>
</li>
	<li>reserveforothers
<ul>
	<li>Ability to place holds on books for patrons via the staff interface</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>borrow
<ul>
	<li>Grants staff members the rights to borrow books from the library</li>
</ul>
</li>
	<li>editcatalogue
<ul>
	<li>Ability to catalog items (add and edit bibliographic and holdings data)</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>updatecharges
<ul>
	<li>Manage patron accounts (including paying fines, adding credits, and creating invoices)</li>
</ul>
</li>
	<li>acquisition
<ul>
	<li>Provides access to the acquisitions and patron purchase suggestion modules</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>management
<ul>
	<li>No longer in use</li>
</ul>
</li>
	<li>tools
<ul>
	<li>Access to all items in the Tools section of the staff client</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>editauthorities
<ul>
	<li>Provides access to edit the authority record</li>
</ul>
</li>
	<li>serials
<ul>
	<li>Allows access to the serials module</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>reports
<ul>
	<li>Allow access to the Reports module (ability to create, edit and run all reports)</li>
	<li>Reports found on the Circulation page are not controlled by this permission</li>
	<li>This section can be expanded (Learn more below)</li>
</ul>
</li>
	<li>staffaccess
<ul>
	<li>Provides the ability to modify login / permissions for staff users</li>
</ul>
</li>
</ul>
<h3>Granular Circulate Permissions</h3>
<p>If the staff member has 'circulate' permissions they have the ability to perform all of these actions. If you would like to control circulation permissions on a more granular level choose from these options:</p>
<ul>
	<li>circulate_remaining_permissions
<ul>
	<li>All circulation rights except override permissions</li>
</ul>
</li>
	<li>override_renewals
<ul>
	<li>Override blocked renewals</li>
</ul>
</li>
</ul>
<h3>Granular Holds Permissions</h3>
<p>If the staff member has 'reserveforothers' permissions they have the ability to perform all of these actions. If you would like to control holds permissions on a more granular level choose from these options:</p>
<ul>
	<li>modify_holds_priority
<ul>
	<li>Allow staff members to alter the holds priority (moving patrons up and down the queue)</li>
</ul>
</li>
	<li>place_holds
<ul>
	<li>All staff members to place holds for patrons via the staff interface</li>
</ul>
</li>
</ul>
<h3>Granular Cataloging Permissions</h3>
<p>If the staff member has 'editcatalogue' permissions they have the ability to perform all of these actions. If you would like to control cataloging permissions on a more granular level choose from these options:</p>
<ul>
	<li>edit_catalogue
<ul>
	<li>Ability to access all cataloging functions via the Cataloging page</li>
</ul>
</li>
	<li>edit_items
<ul>
	<li>Ability to make edits to item records, but not bib records</li>
</ul>
</li>
	<li>fast_cataloging
<ul>
	<li>The ability to catalog using only the Fast Add Framework found on the Circulation page</li>
</ul>
</li>
</ul>
<h3>Granular Acquisitions Permissions</h3>
<p>If the staff member has 'acquisition' permissions they have the ability to perform all of these actions. If you would like to control acquisitions permissions on a more granular level choose from these options:</p>
<ul>
	<li>budget_add_del
<ul>
	<li>Ability to add and delete budgets (not modify()</li>
</ul>
</li>
	<li>budget_manage
<ul>
	<li>Manage budgets</li>
</ul>
</li>
	<li>budget_modify
<ul>
	<li>Ability to edit existing budgets (not to add or delete)</li>
</ul>
</li>
	<li>contracts_manage
<ul>
	<li>Manage contracts</li>
</ul>
</li>
	<li>group_manage
<ul>
	<li>Manage orders and basket groups</li>
</ul>
</li>
	<li>order_manage
<ul>
	<li>Manage orders and baskets</li>
</ul>
</li>
	<li>order_receive
<ul>
	<li>Manage orders and baskets</li>
</ul>
</li>
	<li>period_manage
<ul>
	<li>Manage periods</li>
</ul>
</li>
	<li>planning_manage
<ul>
	<li>Manage budget planning</li>
</ul>
</li>
	<li>vendors_manage
<ul>
	<li>Manage vendors</li>
</ul>
</li>
</ul>
<h3>Granular Serials Permissions</h3>
<p>If the staff member has 'serials' permissions they have the ability to perform all of these actions. If you would like to control serials permissions on a more granular level choose from these options:</p>
<ul>
	<li>check_expiration
<ul>
	<li>Check the expiration of a serial</li>
</ul>
</li>
	<li>claim_serials
<ul>
	<li>Claim missing serials</li>
</ul>
</li>
	<li>create_subscription
<ul>
	<li>Create a new subscription</li>
</ul>
</li>
	<li>delete_subscription
<ul>
	<li>Delete an existing subscription</li>
</ul>
</li>
	<li>edit_subscription
<ul>
	<li>Edit (but not delete or create) an existing subscription</li>
</ul>
</li>
	<li>receive_serials
<ul>
	<li>Receive serials on existing subscriptions</li>
</ul>
</li>
	<li>renew_subscription
<ul>
	<li>Renew an existing subscription</li>
</ul>
</li>
	<li>routing
<ul>
	<li>Manage routing lists</li>
</ul>
</li>
</ul>
<h3>Granular Tools Permissions</h3>
<p>If the staff member has 'tools' permissions they have the ability to access and use all items under the Tools menu. If you would like to control which tools staff members have access to on a more granular level choose from these options:</p>
<ul>
	<li>batch_upload_patron_images
<ul>
	<li>Upload patron images in batch or one at a time (Access to the Image Upload Tool)</li>
</ul>
</li>
	<li>delete_anonymize_patrons
<ul>
	<li>Delete old borrowers and anonymize circulation/reading history (Access to the Anonymize Patron Tool)</li>
</ul>
</li>
	<li>edit_calendar
<ul>
	<li>Define days when the library is closed (Access to the Calendar/Holidays Tool)</li>
</ul>
</li>
	<li>edit_news
<ul>
	<li>Write news for the OPAC and staff interfaces (Access to the News Tool)</li>
</ul>
</li>
	<li>edit_notice_status_triggers
<ul>
	<li>Set notice/status triggers for overdue items (Access to the Overdue Notice Status/Triggers Tool)</li>
</ul>
</li>
	<li>edit_notices
<ul>
	<li>Define notices (Access to the Notices Tool)</li>
</ul>
</li>
	<li>export_catalog
<ul>
	<li>Export bibliographic and holdings data (Access to the Export Bibliographic &amp; Holdings Data Tool)</li>
</ul>
</li>
	<li>import_patrons
<ul>
	<li>Import patron data (Access to the Import Patrons Tool)</li>
</ul>
</li>
	<li>inventory
<ul>
	<li>Perform inventory (stocktaking) of your catalog (Access to the Inventory Tool)</li>
</ul>
</li>
	<li>items_batchdel
<ul>
	<li>Perform batch deletion of items (Access to the Delete a queryset of items Tool)</li>
</ul>
</li>
	<li>items_batchmod
<ul>
	<li>Perform batch modification of items (Access to the Modify a queryset of items Tool)</li>
</ul>
</li>
	<li>label_creator
<ul>
	<li>Create printable labels and barcodes from catalog and patron data (Access to the Label Creator and Quick Label Creator Tools)</li>
</ul>
</li>
	<li>manage_csv_profiles
<ul>
	<li>Create and edit CSV profiles (Access to the CSV Profiles Tool)</li>
</ul>
</li>
	<li>manage_staged_marc
<ul>
	<li>Managed staged MARC records, including completing and reversing imports (Access to the Manage Staged MARC Records Tool)</li>
</ul>
</li>
	<li>moderate_comments
<ul>
	<li>Moderate patron comments (Access to the Comments and Tags Tools)</li>
</ul>
</li>
	<li>schedule_tasks
<ul>
	<li>Schedule tasks to run (Access to the Task Scheduler Tool)</li>
</ul>
</li>
	<li>stage_marc_import
<ul>
	<li>Stage MARC records into the reservoir (Access to the Stage MARC Records Tool)</li>
</ul>
</li>
	<li>view_system_logs
<ul>
	<li>Browse the system logs (Access to the Log Viewer Tool)</li>
</ul>
</li>
</ul>
<h3>Granular Reports Permissions</h3>
<p>If the staff member has 'reports' permissions they have the ability to perform all of these actions. If you would like to control reports permissions on a more granular level choose from these options:</p>
<ul>
	<li>create_reports
<ul>
	<li>The ability to create and edit but not run SQL reports</li>
</ul>
</li>
	<li>execute_reports
<ul>
	<li>The ability to run but not create or edit SQL reports</li>
</ul>
</li>
</ul>
[% INCLUDE 'help-bottom.inc' %]
