[% INCLUDE 'help-top.inc' %]

<h1>Pay and Writeoff Fines</h1>

<p>Each line item can be paid in full, partially paid, or written off.</p>

<h4>Pay a fine in full</h4>
<ul>
	<li>Click "Pay" next to the fine you want to pay in full</li>
	<li>The full amount of the fine will be populated for you in the "Collect From Patron" box</li>
	<li>Click "Confirm" </li>
	<li>The fine will be removed from outstanding fines, and displayed as fully paid.</li>
</ul>

<h4>Pay a partial fine</h4>
<ul>
	<li>Click "Pay" next to the fine you want to partially pay</li>
	<li>Enter the amount you are collecting from the patron in the "Collect From Patron" box</li>
	<li>Click "Confirm" </li>
	<li>The fine will be updated to show the original Amount, and the current Amount Outstanding</li>
</ul>

<h4>Writeoff a single fine</h4>
<ul>
	<li>Click "Writeoff" next to the fine you wish to writeoff.</li>
	<li>The fine will be removed from outstanding fines, and displayed as fully paid.</li>
</ul>

<h4>Pay an amount towards all fines</h4>
<ul>
	<li>Click the "Pay Amount" button</li>
	<li>Enter the amount you are collecting from the patron in "Collect from Patron." The sum of all fines is shown in "Total Amount Outstanding"</li>
	<li>Click "Confirm"</li>
	<li>The fine totals will be updated with the payment applied to oldest fines first.</li>
</ul>

<h4>Writeoff All fines</h4>
<ul>
        <li>Click the "Writeoff All" button</li>
        <li>All fines will be removed from outstanding fines, and displayed as written off.</li>
</ul> 

<h4>Pay Selected fines</h4>
<ul>
	<li>Check the selection boxes next to the fines you wish to pay, click "Pay Selected"</li>
	<li>Enter an amount to pay towards the fines.</li>
	<li>Click "Confirm"</li>
	<li>The fine totals will be updated with the payment applied to the oldest selected fines first.</li>
</ul>

[% INCLUDE 'help-bottom.inc' %]
