[% INCLUDE 'help-top.inc' %]

<h1>Patron Card Creator</h1>

<p>The Patron Card Creator allow you to use layouts and templates which you design to print a nearly unlimited variety of patron cards including barcodes. Here are some of the features of the Patron Card Creator module:</p>

<ul>
	<li>Customize patron card layouts</li>
	<li>Design custom card templates for printed patron cards</li>
	<li>Build and manage batches of patron cards</li>
	<li>Export single or multiple batches</li>
	<li>Export single or multiple patron cards from within a batch</li>
	<li>Export card data as a PDF readable by any standard PDF reader, making patron cards printable directly on a printer</li>
</ul>

<p>At the top of each screen within the Patron Card Creator, you will see a toolbar allowing quick access to relevant functions. The menu to the left of each screen also allows easy access to the different sections of the Patron Card Creator. The breadcrumb trail near the top of each screen will give specific indication as to where you are within the Patron Card Creator module and allow quick navigation to previously traversed sections. And finally, you can find more detailed information on each section of the Patron Card Creator by clicking the online help link at the upper left-hand corner of every page.</p>

<p>The developers of the Patron Card Creator module hope you will find this an extremely useful tool. You are encouraged to submit any enhancement requests as well as any bugs via Koha Project Bugzilla.</p>

[% INCLUDE 'help-bottom.inc' %]