[% INCLUDE 'help-top.inc' %]   

<h1>MARC Export</h1>

<p>Koha comes with a tool that will allow you to export your bibliographic and/or holdings data in bulk. This can be used to send your records to fellow libraries, organizations or services; or simply for backup purposes.</p>

<ul><li>Fill in the form in order to limit your export to a specific range (all fields are optional)</li>
<ul><li>Choose to limit your export by any one or more of the following options</li>
<ul><li>Limit to a bib number range</li>
<li>Limit to a specific item type</li>
<li>Limit to a specific library</li>
<li>Limit to a call number range</li>
<li>Limit to an acquisition date range</li></ul>
<li>Next choose what to skip when exporting</li>
<ul><li>By default items will be exported, if you would like to only export bibliographic data, check the 'Don't export items' box</li>
<li>To limit your export only to items from the library you're logged in as (if you leave the 'Library' field set to 'All') or to the library you selected above check the 'Remove non-local items' box</li>
<li>You can also choose what fields you don't want to export. This can be handy if you're sharing your data, you can remove all local fields before sending your data to another library</li></ul>
<li>Finally choose the file type and file name</li>
<ul><li>Choose to export your data in marc or marcxml format</li>
<li>Choose the name you want your file to save as</li></ul>
<li>Click 'Export'</li></ul></ul>

[% INCLUDE 'help-bottom.inc' %]