[% INCLUDE 'help-top.inc' %]

<h1>Patron Categories</h1>

<p>Patron categories allow you to organize your patrons into different roles, age groups, and patron types.</p>

<p>Patrons are assigned to one of six main categories:</p>

<ul>
	<li>Adult
<ul>
	<li>Most common patron type, usually used for a general 'Patron' category.</li>
</ul>
</li>
	<li>Child
<ul>
	<li>Children patrons can have a guardian to be attached to them.</li>
</ul>
</li>
	<li>Staff
<ul>
	<li>Patrons within the staff category will have access to the staff client.</li>
</ul>
</li>
	<li>Organizational
<ul>
	<li>Organizational patrons are organizations. Organizations can be used as guarantors for Professional patrons.</li>
</ul>
</li>
	<li>Professional
<ul>
	<li>Professional patrons can be linked to Organizational patrons</li>
</ul>
</li>
	<li>Statistical
<ul>
	<li>This patron type is used strictly for statistical purposes, such as in house use of items.</li>
</ul>
</li>
</ul>

<h2>Adding a patron category</h2>

<p>To add a new patron category click 'New Category' at the top of the page</p>

<ul>
	<li>The 'Category Code' is an identifier for your new code.
<ul>
	<li style="color: #990000;">Important: The category code is limited to 10 characters (numbers and letters)</li>
</ul>
</li>
	<li>Enter a plain text version of the category in the 'Description' field.</li>
	<li>Enrollment period (in months) should be filled in if you have a limited enrollment period for your patrons (eg. Student cards expire after 9 months or until a specific date)
<ul>
	<li style="color: #990000;">Important: You cannot enter both a month limit and a date until. Choose to enter either one or the other.</li>
</ul>
</li>
	<li>Some patron categories can have a minimum age (in years) requirement associated with them, enter this age in the 'Age required'</li>
	<li>Patron categories can also have a maximum age (in years) associated with them (such as children), enter this age in the 'Upperage limit'</li>
	<li>If you charge a membership fee for your patrons (such as those who live in another region) you can enter that in the 'Enrollment fee' field.
<ul>
	<li style="color: #990000;">Important: Only enter numbers and decimals in this field</li>
</ul>
</li>
	<li>If you want your patron to receive overdue notices, set the 'Overdue notice required' to 'Yes'</li>
	<li>If you charge patrons for placing holds on items, enter the fee amount in the 'Hold fee' field.
<ul>
	<li style="color: #990000;">Important: Only enter numbers and decimals in this field</li>
</ul>
</li>
	<li>In the 'Category type' field choose one of the six main parent categories</li>
	<li>Finally you can assign advanced messaging preferences by default to a patron category
<ul>
	<li style="color: #990000;">Important: Requires that you have EnhancedMessagingPreferences enabled</li>
	<li style="color: #990000;">Important: These can be changed for individual patrons, this setting is just a default to make it easier to set up messages for an entire category</li>
</ul>
</li>
</ul>

[% INCLUDE 'help-bottom.inc' %]