[% INCLUDE 'help-top.inc' %]

<h1>Checking Out (Issuing)</h1>

<p>To begin the checkout process you must enter the patron barcode or part of their name. The checkout option appears in three main places:</p>

<ul>
	<li>Check out option on main staff client</li>
	<li>Check out option on the patron record</li>
	<li>Check out option on the quick search bar</li>
</ul>

<h2>Checking Items Out</h2>

<p>To check an item out to a patron, first search for that patron using one of the many options listed above.</p>

<p>At the top of the Check Out screen is a box for you to type or scan the item's barcode into.</p>

<ul>
	<li>Many modern barcode scanners will send a 'return' to the browser, making it so that the 'Check Out' button is automatically clicked</li>
</ul>

<p>Below the box for the barcode there may be options for you to override the default due date for the item.</p>

<ul>
	<li>This option will only appear if you have set the SpecifyDueDate system preference to allow staff to override the due date</li>
</ul>

<p>At the bottom of the page there is a summary of the patron's current checked out items along with the due date, items checked out today will appear at the top.</p>

<ul>
	<li>This screen will show whether an item is renewable and if not, why not.</li>
	<li>To override the renewal limits you can set the AllowRenewalLimitOverride system preference to allow overrides and a checkbox will appear below the list of checkouts that reads 'Override Renewal Limit'</li>
	<li>Checking that box will add checkboxes in the renew column above where before the item was not renewable.</li>
</ul>

<p>Also at the bottom of the page is the list of items the patron has on hold</p>

<p>Once you have checked out all of the items for the patron you can print them a receipt by clicking the Print button at the top of the screen and choosing 'Print Slip' or 'Quick Slip'.</p>

<p>If you choose 'Print Slip' it will print all of the items the patron has checked out, including those they checked out at an earlier date. Choosing 'Quick Slip' will print only the items that were checked out today.</p>

<p>If there are notes on the patron record these will appear to the right of the checkout box</p>

<p>If the patron has a hold waiting at the library that too will appear to the right of the check out box making it easy for the circulation librarian to see that there is another item to give the patron</p>

<h2>Check Out Messages</h2>

<p>There are times when Koha will prevent the librarian from being able to check out items to a patron. When this happens a warning will appear notifying the librarian of why the patron cannot check items out.</p>

<ul>
	<li>Patron owes too much in fines
<ul>
	<li>You can set the amount at which patron checkouts are blocked with the noissuescharge system preference</li>
</ul>
</li>
	<li>Patron has been barred from the library
<ul>
	<li>This can be set by the librarian editing a patron record and adding a flag or by the Overdue/Notice Status Triggers</li>
</ul>
</li>
	<li>Patron needs to confirm their address
<ul>
	<li>This can be set by the librarian editing a patron record and adding a flag</li>
</ul>
</li>
	<li>Patrons has lost their library card
<ul>
	<li>This can be set by the librarian editing a patron record and adding a flag</li>
</ul>
</li>
</ul>

<h2>Check Out Warnings</h2>

<p>Sometimes checkouts will trigger warning messages that will appear in a yellow box above the check out field. These warnings need to be acknowledged before you will be able to continue checking items out.</p>

<ul>
	<li>Patron has outstanding fines</li>
	<li>Item on hold for someone else</li>
	<li>Item should be on the hold shelf waiting for someone else</li>
	<li>Item already checked out to this patron</li>
	<li>Item checked out to another patron</li>
	<li>Item not for loan</li>
	<li>Patron has too many things checked out</li>
	<li>Item cannot be renewed
<ul>
	<li>This can be overridden with the AllowRenewalLimitOverride system preference</li>
</ul>
</li>
	<li>Barcode not found</li>
</ul>

[% INCLUDE 'help-bottom.inc' %]
