[% INCLUDE 'help-top.inc' %]

<h1>Set Library:</h1>

<p>There are three ways to set your home branch.</p>
    <p style="color: #ff0000">
IMPORTANT: You will not be able to perform circulation functions without first setting a library.</p>
	<ul>
		<li>	   
	   Most commonly the home branch is set when adding a staff patron. (See the Adding Staff Patrons part of this manual). When staff members login their home branch will be set automatically. You can see that branch in the top right of the staff client</li>
		<li>	   
	   If a library is not set you will see a notice to that affect.</li>
		<li>	   
	   To set the library you can click '(Set)' to the right of the 'NO_LIBRARY_SET' label</li>
		<li>	   
	   The other way to set the library is to click 'Set library' on the main circulation page</li>
		<li>	   
	   Choose your home branch from the menu you are presented with</li>
		<li>	   
	   Click 'Submit'</li>
	</ul>
	
	<h2>What is a home branch?</h2>
<p>   
   The home branch is the branch you want recorded as the origination of circulation functions while you are logged in.</p>
<p>   
   For example, if your home branch is set to 'Main Library', any items checked out to a patron on your terminal will be considered by Koha to be checked out from the   
   'Main Library'   
   branch. An item transferred on that computer will be recorded as transferred from the 'Main Library' branch.</p>
   
   <h2>Why would I want to set a home branch?</h2>
<p>   
   Setting your home branch is critical. It enables Koha to accurately record statistics, circulation (what branch an item has been checked out from or returned to), and transfers.</p>

[% INCLUDE 'help-bottom.inc' %]