[% INCLUDE 'help-top.inc' %]

<h1>Holds Queue</h1>

<p>This report will show you all of the holds at your library. To generate this report, you must have the Build Holds Queue cron job running.</p>

[% INCLUDE 'help-bottom.inc' %]